bsd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2012 rel. 2 (x64) (http://www.altova.com)-->
<xs:schema xmlns="http://www.gemstar-multimedia.com/ggsys/listing-group" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.gemstar-multimedia.com/ggsys/listing-group">
	<xs:element name="xTransmissionFormat" type="xs:byte"/>
	<xs:element name="xSubChannelLanguageCode" type="xs:double"/>
	<xs:element name="xSubChannelFlag" type="xs:byte"/>
	<xs:element name="xSimulcastGroupTag">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="f"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="xMaxBitRate" type="xs:byte"/>
	<xs:element name="xMainChannelLanguageCode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="656e67"/>
				<xs:enumeration value="6a706e"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="xMainChannelFlag" type="xs:byte"/>
	<xs:element name="xLanguageTag" type="xs:byte"/>
	<xs:element name="xLanguageCode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="6a706e"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="xGroupType" type="xs:byte"/>
	<xs:element name="xGemstarGenreCode" type="xs:string"/>
	<xs:element name="xGCN">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="3c65"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="xEntryComponent" type="xs:byte"/>
	<xs:element name="xDMF" type="xs:byte"/>
	<xs:element name="xComponentType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
				<xs:enumeration value="b3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="xComponentTag" type="xs:byte"/>
	<xs:element name="xComponentSequence" type="xs:byte"/>
	<xs:element name="xComponentReferenceCount" type="xs:byte"/>
	<xs:element name="xComponentID" type="xs:byte"/>
	<xs:element name="short_event_descriptor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Title"/>
				<xs:element ref="TitleLengthInBytes"/>
				<xs:element ref="TitleTextCRC"/>
				<xs:element ref="L1Text"/>
				<xs:element ref="L1TextLengthInBytes"/>
				<xs:element ref="L1TextCRC"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="extended_event_descriptor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Sequence"/>
				<xs:element ref="L2Description"/>
				<xs:element ref="L2DescriptionLengthInBytes"/>
				<xs:element ref="L2DescriptionCRC"/>
				<xs:element ref="L2Text"/>
				<xs:element ref="L2TextLengthInBytes"/>
				<xs:element ref="L2TextCRC"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="event_group_descriptor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="xGroupType"/>
				<xs:element ref="GroupCount"/>
				<xs:element ref="Group" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="digital_copy_control_descriptor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MaxBitRateFlag"/>
				<xs:element ref="DigitalRecordingControlData"/>
				<xs:element ref="CopyControlType"/>
				<xs:element ref="ASPControlData"/>
				<xs:element ref="xMaxBitRate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="data_content_descriptor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="xComponentSequence"/>
				<xs:element ref="xComponentID"/>
				<xs:element ref="FormatID"/>
				<xs:element ref="xEntryComponent"/>
				<xs:element ref="ContentTitle"/>
				<xs:element ref="xComponentReferenceCount"/>
				<xs:element ref="xTransmissionFormat"/>
				<xs:element ref="CaptionInfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="content_descriptor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Nibble" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="component_descriptor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="xComponentTag"/>
				<xs:element ref="xComponentType"/>
				<xs:element ref="Text"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="audio_component_descriptor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ComponentIndex"/>
				<xs:element ref="xComponentTag"/>
				<xs:element ref="xComponentType"/>
				<xs:element ref="xSimulcastGroupTag"/>
				<xs:element ref="QualityIndicator"/>
				<xs:element ref="SamplingRate"/>
				<xs:element ref="xSubChannelFlag"/>
				<xs:element ref="xMainChannelFlag"/>
				<xs:element ref="xSubChannelLanguageCode"/>
				<xs:element ref="xMainChannelLanguageCode"/>
				<xs:element ref="Text"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Version">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BasicEITVersion"/>
				<xs:element ref="BasicEITDate"/>
				<xs:element ref="BasicEITTime"/>
				<xs:element ref="BasicEITCRC32"/>
				<xs:element ref="ExtendedEITVersion"/>
				<xs:element ref="ExtendedEITDate"/>
				<xs:element ref="ExtendedEITTime"/>
				<xs:element ref="ExtendedEITCRC32"/>
				<xs:element ref="PFEITVersion"/>
				<xs:element ref="PFEITDate"/>
				<xs:element ref="PFEITTime"/>
				<xs:element ref="PFEITCRC32"/>
				<xs:element ref="ExternalDataDate"/>
				<xs:element ref="ExternalDataTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UserNibble" type="xs:short"/>
	<xs:element name="TitleTextCRC" type="xs:long"/>
	<xs:element name="TitleLengthInBytes" type="xs:byte"/>
	<xs:element name="Title" type="xs:string"/>
	<xs:element name="Text" type="xs:string"/>
	<xs:element name="StartTimeInHHMMSS" type="xs:int"/>
	<xs:element name="ServiceType" type="xs:byte"/>
	<xs:element name="ServiceID" type="xs:byte"/>
	<xs:element name="Sequence" type="xs:byte"/>
	<xs:element name="SamplingRate" type="xs:byte"/>
	<xs:element name="QualityIndicator" type="xs:byte"/>
	<xs:element name="ProgramID" type="xs:int"/>
	<xs:element name="PFEITVersion" type="xs:byte"/>
	<xs:element name="PFEITTime" type="xs:byte"/>
	<xs:element name="PFEITDate" type="xs:byte"/>
	<xs:element name="PFEITCRC32" type="xs:byte"/>
	<xs:element name="Nibble">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ContentInfoSequence"/>
				<xs:element ref="ContentNibble"/>
				<xs:element ref="UserNibble"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NetworkID" type="xs:byte"/>
	<xs:element name="MediaID" type="xs:byte"/>
	<xs:element name="MaxBitRateFlag" type="xs:byte"/>
	<xs:element name="ListingVersion" type="xs:long"/>
	<xs:element name="ListingGroup">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MediaID"/>
				<xs:element ref="xGCN"/>
				<xs:element ref="GemstarDataSourceID"/>
				<xs:element ref="GemstarChannelID"/>
				<xs:element ref="DigitalServiceID"/>
				<xs:element ref="Date"/>
				<xs:element ref="ListingVersion"/>
				<xs:element ref="Listing" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Listing">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Kind"/>
				<xs:element ref="ProgramID"/>
				<xs:element ref="StartTimeInHHMMSS"/>
				<xs:element ref="DurInHHMMSS"/>
				<xs:element ref="xGemstarGenreCode"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="content_descriptor"/>
						<xs:element ref="short_event_descriptor"/>
						<xs:element ref="event_group_descriptor"/>
						<xs:element ref="component_descriptor"/>
						<xs:element ref="audio_component_descriptor" maxOccurs="unbounded"/>
						<xs:element ref="digital_copy_control_descriptor"/>
						<xs:element ref="extended_event_descriptor" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="Version"/>
					</xs:sequence>
					<xs:sequence>
						<xs:element ref="AdditionalGenreList"/>
						<xs:element ref="content_descriptor"/>
						<xs:element ref="short_event_descriptor"/>
						<xs:element ref="event_group_descriptor"/>
						<xs:element ref="component_descriptor"/>
						<xs:element ref="audio_component_descriptor"/>
						<xs:element ref="digital_copy_control_descriptor"/>
						<xs:sequence minOccurs="0">
							<xs:element ref="data_content_descriptor" minOccurs="0"/>
							<xs:element ref="extended_event_descriptor" maxOccurs="unbounded"/>
						</xs:sequence>
						<xs:element ref="Version"/>
					</xs:sequence>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="L2TextLengthInBytes" type="xs:short"/>
	<xs:element name="L2TextCRC" type="xs:long"/>
	<xs:element name="L2Text" type="xs:string"/>
	<xs:element name="L2DescriptionLengthInBytes" type="xs:byte"/>
	<xs:element name="L2DescriptionCRC" type="xs:long"/>
	<xs:element name="L2Description">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="キーワード1"/>
				<xs:enumeration value="キーワード2"/>
				<xs:enumeration value="出演者"/>
				<xs:enumeration value="制作"/>
				<xs:enumeration value="番組内容"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="L1TextLengthInBytes" type="xs:short"/>
	<xs:element name="L1TextCRC" type="xs:long"/>
	<xs:element name="L1Text" type="xs:string"/>
	<xs:element name="Kind" type="xs:string"/>
	<xs:element name="GroupCount" type="xs:byte"/>
	<xs:element name="Group">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ServiceID"/>
				<xs:element ref="EventID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GenreCode" type="xs:string" />
	<xs:element name="GemstarDataSourceID" type="xs:byte"/>
	<xs:element name="GemstarChannelID" type="xs:int"/>
	<xs:element name="FormatID" type="xs:byte"/>
	<xs:element name="ExternalDataTime" type="xs:byte"/>
	<xs:element name="ExternalDataDate" type="xs:byte"/>
	<xs:element name="ExtendedEITVersion" type="xs:byte"/>
	<xs:element name="ExtendedEITTime" type="xs:int"/>
	<xs:element name="ExtendedEITDate" type="xs:int"/>
	<xs:element name="ExtendedEITCRC32" type="xs:long"/>
	<xs:element name="EventID" type="xs:int"/>
	<xs:element name="DurInHHMMSS" type="xs:int"/>
	<xs:element name="DigitalServiceID">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="NetworkID"/>
				<xs:element ref="ServiceID"/>
				<xs:element ref="ServiceType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DigitalRecordingControlData" type="xs:byte"/>
	<xs:element name="Date" type="xs:int"/>
	<xs:element name="CopyControlType" type="xs:byte"/>
	<xs:element name="ContentTitle">
		<xs:complexType/>
	</xs:element>
	<xs:element name="ContentNibble" type="xs:short"/>
	<xs:element name="ContentInfoSequence" type="xs:byte"/>
	<xs:element name="ComponentIndex" type="xs:byte"/>
	<xs:element name="CaptionInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="xLanguageTag"/>
				<xs:element ref="xDMF"/>
				<xs:element ref="xLanguageCode"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BasicEITVersion" type="xs:byte"/>
	<xs:element name="BasicEITTime" type="xs:int"/>
	<xs:element name="BasicEITDate" type="xs:int"/>
	<xs:element name="BasicEITCRC32" type="xs:long"/>
	<xs:element name="AdditionalGenreList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="GenreCode" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ASPControlData" type="xs:byte"/>
</xs:schema>
