gguide-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2012 rel. 2 (x64) (http://www.altova.com)-->
<xs:schema targetNamespace="http://www.gemstar-multimedia.com/ggsys/listing-group" xmlns="http://www.gemstar-multimedia.com/ggsys/listing-group" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="xTransmissionFormat">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="xSubChannelLanguageCode">
		<xs:simpleType>
			<xs:restriction base="xs:double">
				<xs:enumeration value="0.0E0"/>
				<xs:enumeration value="6.56E69"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="xSubChannelFlag">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="xSimulcastGroupTag">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="f"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="xMaxBitRate">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="xMainChannelLanguageCode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="6a706e"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="xMainChannelFlag">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="xLanguageTag">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="xLanguageCode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="6a706e"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="xGroupType">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="xGemstarGenreCode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="33"/>
				<xs:enumeration value="38"/>
				<xs:enumeration value="3b"/>
				<xs:enumeration value="71"/>
				<xs:enumeration value="7b"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="xGCN">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="3c65"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="xEntryComponent">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="xDMF">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="xComponentType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
				<xs:enumeration value="b3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="xComponentTag">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
				<xs:enumeration value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="xComponentSequence">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="xComponentReferenceCount">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="xComponentID">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="short_event_descriptor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Title"/>
				<xs:element ref="TitleLengthInBytes"/>
				<xs:element ref="TitleTextCRC"/>
				<xs:element ref="L1Text"/>
				<xs:element ref="L1TextLengthInBytes"/>
				<xs:element ref="L1TextCRC"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="extended_event_descriptor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Sequence"/>
				<xs:element ref="L2Description"/>
				<xs:element ref="L2DescriptionLengthInBytes"/>
				<xs:element ref="L2DescriptionCRC"/>
				<xs:element ref="L2Text"/>
				<xs:element ref="L2TextLengthInBytes"/>
				<xs:element ref="L2TextCRC"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="event_group_descriptor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="xGroupType"/>
				<xs:element ref="GroupCount"/>
				<xs:element ref="Group" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="digital_copy_control_descriptor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MaxBitRateFlag"/>
				<xs:element ref="DigitalRecordingControlData"/>
				<xs:element ref="CopyControlType"/>
				<xs:element ref="ASPControlData"/>
				<xs:element ref="xMaxBitRate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="data_content_descriptor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="xComponentSequence"/>
				<xs:element ref="xComponentID"/>
				<xs:element ref="FormatID"/>
				<xs:element ref="xEntryComponent"/>
				<xs:element ref="ContentTitle"/>
				<xs:element ref="xComponentReferenceCount"/>
				<xs:element ref="xTransmissionFormat"/>
				<xs:element ref="CaptionInfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="content_descriptor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Nibble" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="component_descriptor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="xComponentTag"/>
				<xs:element ref="xComponentType"/>
				<xs:element ref="Text"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="audio_component_descriptor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ComponentIndex"/>
				<xs:element ref="xComponentTag"/>
				<xs:element ref="xComponentType"/>
				<xs:element ref="xSimulcastGroupTag"/>
				<xs:element ref="QualityIndicator"/>
				<xs:element ref="SamplingRate"/>
				<xs:element ref="xSubChannelFlag"/>
				<xs:element ref="xMainChannelFlag"/>
				<xs:element ref="xSubChannelLanguageCode"/>
				<xs:element ref="xMainChannelLanguageCode"/>
				<xs:element ref="Text"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Version">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BasicEITVersion"/>
				<xs:element ref="BasicEITDate"/>
				<xs:element ref="BasicEITTime"/>
				<xs:element ref="BasicEITCRC32"/>
				<xs:element ref="ExtendedEITVersion"/>
				<xs:element ref="ExtendedEITDate"/>
				<xs:element ref="ExtendedEITTime"/>
				<xs:element ref="ExtendedEITCRC32"/>
				<xs:element ref="PFEITVersion"/>
				<xs:element ref="PFEITDate"/>
				<xs:element ref="PFEITTime"/>
				<xs:element ref="PFEITCRC32"/>
				<xs:element ref="ExternalDataDate"/>
				<xs:element ref="ExternalDataTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UserNibble">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="16"/>
				<xs:enumeration value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TitleTextCRC">
		<xs:simpleType>
			<xs:restriction base="xs:long">
				<xs:enumeration value="1486344631"/>
				<xs:enumeration value="1538787911"/>
				<xs:enumeration value="2134205774"/>
				<xs:enumeration value="2398039607"/>
				<xs:enumeration value="2638490132"/>
				<xs:enumeration value="2796183648"/>
				<xs:enumeration value="2798213342"/>
				<xs:enumeration value="3054825235"/>
				<xs:enumeration value="3191381795"/>
				<xs:enumeration value="3330516049"/>
				<xs:enumeration value="4240504839"/>
				<xs:enumeration value="674491307"/>
				<xs:enumeration value="712332786"/>
				<xs:enumeration value="867481929"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TitleLengthInBytes">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="11"/>
				<xs:enumeration value="36"/>
				<xs:enumeration value="50"/>
				<xs:enumeration value="66"/>
				<xs:enumeration value="67"/>
				<xs:enumeration value="69"/>
				<xs:enumeration value="76"/>
				<xs:enumeration value="78"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Title">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="2014W杯イヤー　日本代表W杯全14試合▽ドイツ大会「日本×オーストラリア」"/>
				<xs:enumeration value="2014W杯イヤー　日本代表W杯全14試合▽フランス大会「日本×アルゼンチン」"/>
				<xs:enumeration value="2014W杯イヤー　日本代表W杯全14試合▽フランス大会「日本」対「クロアチア」"/>
				<xs:enumeration value="2014W杯イヤー　日本代表W杯全14試合▽フランス大会「日本」対「ジャマイカ」"/>
				<xs:enumeration value="2014W杯イヤー　日本代表W杯全14試合▽日韓大会「日本」対「チュニジア」"/>
				<xs:enumeration value="2014W杯イヤー　日本代表W杯全14試合▽日韓大会「日本」対「トルコ」"/>
				<xs:enumeration value="2014W杯イヤー　日本代表W杯全14試合▽日韓大会「日本」対「ベルギー」"/>
				<xs:enumeration value="2014W杯イヤー　日本代表W杯全14試合▽日韓大会「日本」対「ロシア」"/>
				<xs:enumeration value="BSニュース"/>
				<xs:enumeration value="NFL・アメリカンフットボール「パッカーズ」対「ベアーズ」[二]"/>
				<xs:enumeration value="オリンピック栄光の記録〜バンクーバー1〜"/>
				<xs:enumeration value="オリンピック栄光の記録〜バンクーバー2〜"/>
				<xs:enumeration value="新春SP　世界と戦う日本の長期戦略とは?「島耕作のアジア立志伝　シンポジウム」[字]"/>
				<xs:enumeration value="決戦の地　ブラジルへ▽第1部　夢舞台への熱き思い▽第2部　監督ザッケローニの戦略"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Text" type="xs:string"/>
	<xs:element name="StartTimeInHHMMSS">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="10000"/>
				<xs:enumeration value="105000"/>
				<xs:enumeration value="110000"/>
				<xs:enumeration value="125000"/>
				<xs:enumeration value="130000"/>
				<xs:enumeration value="145000"/>
				<xs:enumeration value="150000"/>
				<xs:enumeration value="165000"/>
				<xs:enumeration value="170000"/>
				<xs:enumeration value="185000"/>
				<xs:enumeration value="190000"/>
				<xs:enumeration value="205000"/>
				<xs:enumeration value="210000"/>
				<xs:enumeration value="225000"/>
				<xs:enumeration value="230000"/>
				<xs:enumeration value="35000"/>
				<xs:enumeration value="40000"/>
				<xs:enumeration value="42500"/>
				<xs:enumeration value="45000"/>
				<xs:enumeration value="5000"/>
				<xs:enumeration value="50000"/>
				<xs:enumeration value="65500"/>
				<xs:enumeration value="70000"/>
				<xs:enumeration value="85000"/>
				<xs:enumeration value="90000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ServiceType">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ServiceID">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="101"/>
				<xs:enumeration value="102"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Sequence">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SamplingRate">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="7"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="QualityIndicator">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ProgramID">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="12105"/>
				<xs:enumeration value="12106"/>
				<xs:enumeration value="12112"/>
				<xs:enumeration value="12114"/>
				<xs:enumeration value="12115"/>
				<xs:enumeration value="12118"/>
				<xs:enumeration value="12119"/>
				<xs:enumeration value="12122"/>
				<xs:enumeration value="12123"/>
				<xs:enumeration value="12126"/>
				<xs:enumeration value="12127"/>
				<xs:enumeration value="12130"/>
				<xs:enumeration value="12131"/>
				<xs:enumeration value="12134"/>
				<xs:enumeration value="12135"/>
				<xs:enumeration value="12138"/>
				<xs:enumeration value="12139"/>
				<xs:enumeration value="12142"/>
				<xs:enumeration value="12146"/>
				<xs:enumeration value="12152"/>
				<xs:enumeration value="12153"/>
				<xs:enumeration value="12355"/>
				<xs:enumeration value="13940"/>
				<xs:enumeration value="15372"/>
				<xs:enumeration value="15373"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PFEITVersion">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
				<xs:enumeration value="7"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PFEITTime">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="0"/>
				<xs:enumeration value="20615"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PFEITDate">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="0"/>
				<xs:enumeration value="20140102"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PFEITCRC32">
		<xs:simpleType>
			<xs:restriction base="xs:long">
				<xs:enumeration value="0"/>
				<xs:enumeration value="2072885547"/>
				<xs:enumeration value="2322490254"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Nibble">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ContentInfoSequence"/>
				<xs:element ref="ContentNibble"/>
				<xs:element ref="UserNibble"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NetworkID">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MediaID">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MaxBitRateFlag">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ListingVersion">
		<xs:simpleType>
			<xs:restriction base="xs:long">
				<xs:enumeration value="1388595975394"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ListingGroup">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MediaID"/>
				<xs:element ref="xGCN"/>
				<xs:element ref="GemstarDataSourceID"/>
				<xs:element ref="GemstarChannelID"/>
				<xs:element ref="DigitalServiceID"/>
				<xs:element ref="Date"/>
				<xs:element ref="ListingVersion"/>
				<xs:element ref="Listing" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Listing">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Kind"/>
				<xs:element ref="ProgramID"/>
				<xs:element ref="StartTimeInHHMMSS"/>
				<xs:element ref="DurInHHMMSS"/>
				<xs:element ref="xGemstarGenreCode"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="content_descriptor"/>
						<xs:element ref="short_event_descriptor"/>
						<xs:element ref="event_group_descriptor"/>
						<xs:element ref="component_descriptor"/>
						<xs:element ref="audio_component_descriptor"/>
						<xs:element ref="digital_copy_control_descriptor"/>
						<xs:element ref="extended_event_descriptor" maxOccurs="unbounded"/>
						<xs:element ref="Version"/>
					</xs:sequence>
					<xs:sequence>
						<xs:element ref="AdditionalGenreList"/>
						<xs:element ref="content_descriptor"/>
						<xs:element ref="short_event_descriptor"/>
						<xs:element ref="event_group_descriptor"/>
						<xs:element ref="component_descriptor"/>
						<xs:element ref="audio_component_descriptor"/>
						<xs:element ref="digital_copy_control_descriptor"/>
						<xs:sequence minOccurs="0">
							<xs:element ref="data_content_descriptor"/>
							<xs:element ref="extended_event_descriptor" maxOccurs="unbounded"/>
						</xs:sequence>
						<xs:element ref="Version"/>
					</xs:sequence>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="L2TextLengthInBytes">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="122"/>
				<xs:enumeration value="315"/>
				<xs:enumeration value="324"/>
				<xs:enumeration value="335"/>
				<xs:enumeration value="347"/>
				<xs:enumeration value="40"/>
				<xs:enumeration value="86"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="L2TextCRC">
		<xs:simpleType>
			<xs:restriction base="xs:long">
				<xs:enumeration value="1102456614"/>
				<xs:enumeration value="1205335937"/>
				<xs:enumeration value="1851760620"/>
				<xs:enumeration value="3186624622"/>
				<xs:enumeration value="3608795260"/>
				<xs:enumeration value="592169976"/>
				<xs:enumeration value="651554341"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="L2Text" type="xs:string"/>
	<xs:element name="L2DescriptionLengthInBytes">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="6"/>
				<xs:enumeration value="8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="L2DescriptionCRC">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="1553784255"/>
				<xs:enumeration value="559020386"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="L2Description">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="出演者"/>
				<xs:enumeration value="番組内容"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="L1TextLengthInBytes">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="102"/>
				<xs:enumeration value="104"/>
				<xs:enumeration value="106"/>
				<xs:enumeration value="107"/>
				<xs:enumeration value="108"/>
				<xs:enumeration value="118"/>
				<xs:enumeration value="121"/>
				<xs:enumeration value="124"/>
				<xs:enumeration value="125"/>
				<xs:enumeration value="129"/>
				<xs:enumeration value="138"/>
				<xs:enumeration value="89"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="L1TextCRC">
		<xs:simpleType>
			<xs:restriction base="xs:long">
				<xs:enumeration value="1227404036"/>
				<xs:enumeration value="1635691382"/>
				<xs:enumeration value="1827508459"/>
				<xs:enumeration value="2216800071"/>
				<xs:enumeration value="2594431271"/>
				<xs:enumeration value="2642636828"/>
				<xs:enumeration value="326659886"/>
				<xs:enumeration value="3661316381"/>
				<xs:enumeration value="4166172161"/>
				<xs:enumeration value="4226886206"/>
				<xs:enumeration value="4290457474"/>
				<xs:enumeration value="451571266"/>
				<xs:enumeration value="593543559"/>
				<xs:enumeration value="652136870"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="L1Text" type="xs:string"/>
	<xs:element name="Kind">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="EIT_FOLLOWING"/>
				<xs:enumeration value="EIT_PRESENT"/>
				<xs:enumeration value="EIT_SCHEDULE"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="GroupCount">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Group">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ServiceID"/>
				<xs:element ref="EventID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GenreCode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="3b"/>
				<xs:enumeration value="72"/>
				<xs:enumeration value="81"/>
				<xs:enumeration value="91"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="GemstarDataSourceID">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="GemstarChannelID">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="200101"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FormatID">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ExternalDataTime">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ExternalDataDate">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ExtendedEITVersion">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
				<xs:enumeration value="6"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ExtendedEITTime">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="0"/>
				<xs:enumeration value="15636"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ExtendedEITDate">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="0"/>
				<xs:enumeration value="20140102"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ExtendedEITCRC32">
		<xs:simpleType>
			<xs:restriction base="xs:long">
				<xs:enumeration value="0"/>
				<xs:enumeration value="2484969780"/>
				<xs:enumeration value="3049790360"/>
				<xs:enumeration value="3068437215"/>
				<xs:enumeration value="3811237222"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EventID">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="12105"/>
				<xs:enumeration value="12106"/>
				<xs:enumeration value="12112"/>
				<xs:enumeration value="12114"/>
				<xs:enumeration value="12115"/>
				<xs:enumeration value="12118"/>
				<xs:enumeration value="12119"/>
				<xs:enumeration value="12122"/>
				<xs:enumeration value="12123"/>
				<xs:enumeration value="12126"/>
				<xs:enumeration value="12127"/>
				<xs:enumeration value="12130"/>
				<xs:enumeration value="12131"/>
				<xs:enumeration value="12134"/>
				<xs:enumeration value="12135"/>
				<xs:enumeration value="12138"/>
				<xs:enumeration value="12139"/>
				<xs:enumeration value="12142"/>
				<xs:enumeration value="12146"/>
				<xs:enumeration value="12152"/>
				<xs:enumeration value="12153"/>
				<xs:enumeration value="12355"/>
				<xs:enumeration value="13940"/>
				<xs:enumeration value="15372"/>
				<xs:enumeration value="15373"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DurInHHMMSS">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="1000"/>
				<xs:enumeration value="15000"/>
				<xs:enumeration value="15500"/>
				<xs:enumeration value="2500"/>
				<xs:enumeration value="25000"/>
				<xs:enumeration value="500"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DigitalServiceID">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="NetworkID"/>
				<xs:element ref="ServiceID"/>
				<xs:element ref="ServiceType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DigitalRecordingControlData">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Date">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="20140102"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CopyControlType">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ContentTitle">
		<xs:complexType/>
	</xs:element>
	<xs:element name="ContentNibble">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
				<xs:enumeration value="112"/>
				<xs:enumeration value="128"/>
				<xs:enumeration value="18"/>
				<xs:enumeration value="20"/>
				<xs:enumeration value="22"/>
				<xs:enumeration value="224"/>
				<xs:enumeration value="7"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ContentInfoSequence">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ComponentIndex">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CaptionInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="xLanguageTag"/>
				<xs:element ref="xDMF"/>
				<xs:element ref="xLanguageCode"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BasicEITVersion">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
				<xs:enumeration value="6"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BasicEITTime">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="0"/>
				<xs:enumeration value="20614"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BasicEITDate">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="0"/>
				<xs:enumeration value="20140102"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BasicEITCRC32">
		<xs:simpleType>
			<xs:restriction base="xs:long">
				<xs:enumeration value="0"/>
				<xs:enumeration value="1381120738"/>
				<xs:enumeration value="2258077729"/>
				<xs:enumeration value="2265237623"/>
				<xs:enumeration value="2749499152"/>
				<xs:enumeration value="304637934"/>
				<xs:enumeration value="3460614362"/>
				<xs:enumeration value="3918141429"/>
				<xs:enumeration value="712507176"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AdditionalGenreList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="GenreCode" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ASPControlData">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
